

@import url('https://fonts.googleapis.com/css?family=Molengo');

#app-link::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:inherit;
    font-size: 13px;
    background-color: #f0f0f5;
    font-family: 'Molengo', sans-serif;
    opacity: 1; /* Firefox */
}

#app-link:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: inherit;
}

#app-link::-ms-input-placeholder { /* Microsoft Edge */
    color: inherit;
}

/*body{
 font-family: 'Molengo', sans-serif;
}*/

.pws-form-field-nav{
background: #fff;
width:650px;
height: 52px;
border-radius: 2px;
padding-left: 10px;
border: 1px solid #dfdfe1;
margin:0 auto; 
margin-top: 4px;

}

 .btn-signin{
  background-color: #fff !important;
  border:  1px solid #07c394 !important;
  margin-top: -100px;

}

.pws-card{
	background-color: #fff;
	padding:20px;
	margin-top: 10px;
	height: 230px;
	min-width: 760px;
	max-width: 850px;
	border-radius: 3px;
-webkit- box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
-moz- box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
 box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);

}
.pws-card-app{
	background-color: #fff;
	padding:20px;
	margin-top: 10px;
	height: 350px;
	border-radius: 3px;
-webkit- box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
-moz- box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
 box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);

}

.pws-container-app{
	width: 950px;
	margin: auto;
	margin-top: 30px;


}

.pws-app-text{
	font-size: 15px;
}

.text-app{
	padding-top: 10px;
	padding-left: 10px;
}
.linkachor{

	color:#36cca7; 
	text-decoration:none;
}

.linkachor:hover{
color:#36cca7; 
text-decoration:none;
}



.pws-card-profile{
	background-color: #fff;
	padding:20px;
	margin-top: 10px;
	height: auto;
	min-width: 760px;
	max-width: 850px;
	border-radius: 3px;
-webkit- box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
-moz- box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
 box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
}

.pws-token h6{

	color:#36cca7; 
	text-align: center;
	font-weight: 600;
}



.pws-token-no{
    
    width: 80px;
    height: 80px;
	background: url(../img/ticket-ico.png);
	background-size: cover;
}

.pws-token-no h4{
	text-align: center;
	font-size: 20px;
	padding-top: 30px;
	color:#fff; 
	font-weight: 600;
}


.pws-card-top{
	margin-top: 20px;
}


.pws-card-tab{
	background-color: #fff;
	padding:20px;
	margin-top: 30px;
	height: 70px;
	min-width: 760px;
	max-width: 910px;
	border-radius: 3px;
	
-webkit- box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
-moz- box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
 box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);

}

.pws-card-image{
	background-color: #ccc;
	width: 134px;
	height: 134px;
	border:2px solid #36cca7;

}

.pws-card-image-app{
	background-color: #ccc;
	width: 64px;
	height: 64px;
	border:2px solid #36cca7;

}



.square {
  height: 40px;
  width: 40px;
   padding: 10px;
  text-align:center;
  color: #333;
  background-color: #ccc;
}

.tile_div a {
    display: block;
    float: left;
    height: 25px;
    font-size: 11px;
    width:25px;
    margin-right: 5px;
    
    padding-top: 5px;
  
    text-align: center;
    
    text-decoration: none;
}



.slotes{
	  background-color: #e2e2e2;
	  color:#2eac8d; 
}

.active-slotes{
 background-color: #2eac8d;
 color: #fff;


}

.title_div a.last {
    margin-right: 0;
}

.clear {
    clear: both;
}
















.btn-add{
	width: 100%;
    float: left;
    color:#fff;
    margin-top: 15px;
    background-color: #36cca7;
    padding-top: 8px;
    text-align: center;
    padding-bottom: 8px;
    font-weight: 600;
}


.pws-btn-book{
	width: 200px;
    float: left;
    color:#fff;
    margin-top: 15px;
    background-color: #36cca7;
    padding-top: 8px;
    text-align: center;
    padding-bottom: 8px;
    font-weight: 600;
    margin-right: 25px;
    border: none;
}


.pws-btn-cancel{
	width: 200px;
    float: left;
    color:#f63a3e;
    margin-top: 30px;
    padding-top: 8px;
    background-color: transparent;
    text-align: center;
    padding-bottom: 8px;
    font-weight: 600;
    margin-right: 25px;
    border:1px solid #f63a3e;
}


.pws-btn-cancel:hover{
  background-color: #f63a3e;
   color:#ffffff;

}


.pws-subnav-text{
	color: #ffffff;


}
.pws-subnav-text:hover{
	color: #ffffff;
	text-decoration: none;
	
}



.pws-btn-appointment{
	width: 180px;
    float: left;
    color:#fff;
    border-radius: 3px;
    margin-top: 15px;
    background-color: #36cca7;
    padding-top: 8px;
    text-align: center;
    padding-bottom: 8px;
    margin-right: 10px;
    border: none;
}

.pws-btn-appointment:hover{
	text-decoration: none;
     color:#fff;
 background-color: #44e7bf;

}



.pws-btn-home{
	width: 180px;
    float: left;
    color:#36cca7;
    border:1px solid #36cca7;
    border-radius: 3px;
    margin-top: 15px;
    font-weight: 600;
    background-color: #fff;
    padding-top: 8px;
    text-align: center;
    padding-bottom: 8px;
    margin-right: 10px;
    
}

.pws-btn-home:hover{
     text-decoration: none;
     color:#fff;
     background-color: #36cca7;

}




.pws-btn-book:hover{
text-decoration: none;
background-color: #4dd4b2;
color:#fff;



}
.pws-btn-feedback{
    width: 120px;
    float: left;
background-color: #fff;
    color:#36cca7;
    border-radius: 5px;
    border: 1px solid #36cca7;
    padding-top: 5px;
    font-size: 11px;
    text-align: center;
    padding-bottom: 8px;
    font-weight: 600;
    margin-right: 50px;

}

.nav-tabs > li > a {


color: #36cca7;


}


.text-feedback{

	width: 350px;
	padding: 5px;
	border-radius: 1px;
}

.pws-btn-feedback:hover{

text-decoration: none;
background-color: #36cca7;
 color:#fff;

}

.pws-doc-profile h4{
	color:  #36cca7;
	font-size: 13px;
	font-weight: 600;
}
.pws-about{
	font-size: 13px;
	margin-top: 20px;
	color: #817e7e;

}

.pws-feedback-qn{
font-weight: 600;
	color:  #36cca7;
}

.pws-subnav{
 background-color: #36cca7;
 margin-top: -28px;
	height: 30px;
	width: 100%;
}






.star-rating {
  line-height:32px;
  font-size:1.45em;
 margin-left: 30px;
}

.star-rating .fa-star{color: #f1c40f;}

.pws-rating .fa-star{
   
	color: #f1c40f;
}

.pws-rating{
	font-size: 15px;
	font-weight: 600;
	color: #7d7e7d;
}


.pws-available .fa-clock-o{
     color: #7d7e7d;

}

.pws-available {
	color: #1cba2f;
	font-weight: 600;
}

.pws-dr-name h4{
     color: #36cca7;
     font-size: 19px;
	padding-left: 30px;
	font-weight: 600;
}

.pws-dr-name h6{
     color: #919191;
	font-weight: 600; 
	font-size: 11px;
}
.pws-com-name h4{
	    color: #787887;
	font-size: 11px;
	font-weight: 600;
	margin-top: 20px;
}

.pws-com-app h3{
	    color: #787887;
	font-size: 12px;
	font-weight: 600;
	margin-top: 20px;
}


.pws-app-link{
background-color: #f0f0f5;
font-size: 14px;
	padding: 5px;
	outline: none;
	border: 1px solid #cacad3;
}

.pws-slotes{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 30px;
   
    
}



.pws-addon-nav{
    border-right: 1px solid #dad8d8 !important;
    padding-right: 5px !important;
    padding-left: 10px !important;

}


.pws-app-link-btn{
	background-color: #36cca7;
	border:none;
	color: #ffffff;
	padding: 5px 10px 5px 10px;
	font-size: 11px;
	margin-top: 10px;
}

.pws-slotes li {
    float: left;
}

.pws-slotes li a {
    display: block;
    color: #36cca7;
    text-align: center;
    padding: 7px;
    margin-right: 12px;
    text-decoration: none;
}

.pws-slotes li a:hover {
    background-color: #36cca7;
    color: #fff;
}


.pws-slot-btn{
   background: transparent ;
    border:1px solid #36cca7;
    font-size: 12px;
    font-weight: 600;

}

#active{

	background-color: #36cca7;
	color: #fff;
}





.table-wrapper {
        background: #fff;
        padding: 20px 25px;
        margin: 30px auto;
		border-radius: 3px;
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }
	.table-wrapper .btn {
		float: right;
		color: #333;
    	background-color: #fff;
		border-radius: 3px;
		border: none;
		outline: none !important;
		margin-left: 10px;
	}
	.table-wrapper .btn:hover {
        color: #333;
		background: #f2f2f2;
	}
	.table-wrapper .btn.btn-primary {
		color: #fff;
		background: #03A9F4;
	}
	.table-wrapper .btn.btn-primary:hover {
		background: #03a3e7;
	}
	.table-title .btn {		
		font-size: 13px;
		border: none;
	}
	.table-title .btn i {
		float: left;
		font-size: 21px;
		margin-right: 5px;
	}
	.table-title .btn span {
		float: left;
		margin-top: 2px;
	}
	.table-title {
		color: #fff;
		background: #4b5366;		
		padding: 12px 25px;
		margin: -20px -25px 10px;
		border-radius: 3px 3px 0 0;
    }
    .table-title h2 {
		margin: 5px 0 0;
		font-size: 24px;
	}
	.show-entries select.form-control {        
        width: 60px;
		margin: 0 5px;
	}
	.table-filter .filter-group {
        float: right;
		margin-left: 15px;
    }
	.table-filter input, .table-filter select {
		height: 34px;
		border-radius: 3px;
		border-color: #ddd;
        box-shadow: none;
	}
	.table-filter {
		padding: 5px 0 15px;
		border-bottom: 1px solid #e9e9e9;
		margin-bottom: 5px;
	}
	.table-filter .btn {
		height: 34px;
	}
	.table-filter label {
		font-weight: normal;
		margin-left: 10px;
	}
	.table-filter select, .table-filter input {
		display: inline-block;
		margin-left: 5px;
	}
	.table-filter input {
		width: 200px;
		display: inline-block;
	}
	.filter-group select.form-control {
		width: 110px;
	}
	.filter-icon {
		float: right;
		margin-top: 7px;
	}
	.filter-icon i {
		font-size: 18px;
		opacity: 0.7;
	}	
    table.table tr th, table.table tr td {
        border-color: #e9e9e9;
		padding: 12px 15px;
		vertical-align: middle;
    }
	table.table tr th:first-child {
		width: 60px;
	}
	table.table tr th:last-child {
		width: 80px;
	}
    table.table-striped tbody tr:nth-of-type(odd) {
    	background-color: #fcfcfc;
	}
	table.table-striped.table-hover tbody tr:hover {
		background: #f5f5f5;
	}
    table.table th i {
        font-size: 13px;
        margin: 0 5px;
        cursor: pointer;
    }	
    table.table th {
      color: #a7a8ac;
    }	
	table.table td a {
		font-weight: bold;
		color: #36cca7;
		display: inline-block;
		text-decoration: none;
	}
	table.table td a:hover {
		color: #2196F3;
	}
	table.table td a.view {        
		width: 30px;
		height: 30px;
		color: #2196F3;
		
		
		text-align: center;
    }
    table.table td a.view i {
        font-size: 22px;
		margin: 2px 0 0 1px;
    }   
	table.table .avatar {
		border-radius: 50%;
		vertical-align: middle;
		color: #36cca7;
		margin-right: 10px;
	}
	.status {
		font-size: 30px;
		margin: 2px 2px 0 0;
		display: inline-block;
		vertical-align: middle;

		line-height: 10px;
	}

	.pws-date-tab{
		font-size: 12px;
		color: #1c2230;
		font-weight: 600;
	}

.pws-price{


	color:#36cca7;
}
	.status_text{
		
		border-radius: 3px;
		background-color: #3c48f2;
		color: #fbfbfb;
		font-size: 11px;
		padding: 3px;
		padding-left: 3px;
		padding-right: 3px;
	}

.status_cancel{
	   border-radius: 3px;
		background-color: #db414c;
		color: #fbfbfb;
		font-size: 11px;
		padding: 3px;
		padding-left: 3px;
		padding-right: 3px;
}


    .text-success {
        color: #10c469;
    }
    .text-info {
        color: #62c9e8;
    }
    .text-warning {
        color: #FFC107;
    }
    .text-danger {
        color: #ff5b5b;
    }
    .pagination {
        float: right;
        margin: 0 0 5px;
    }
    .pagination li a {
        border: none;
        font-size: 13px;
        min-width: 30px;
        min-height: 30px;
        color: #999;
        margin: 0 2px;
        line-height: 30px;
        border-radius: 2px !important;
        text-align: center;
        padding: 0 6px;
    }
    .pagination li a:hover {
        color: #666;
    }	
    .pagination li.active a {
        background: #03A9F4;
    }
    .pagination li.active a:hover {        
        background: #0397d6;
    }
	.pagination li.disabled i {
        color: #ccc;
    }
    .pagination li i {
        font-size: 16px;
        padding-top: 6px
    }
    .hint-text {
        float: left;
        margin-top: 10px;
        font-size: 13px;
    }    


